* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navBnts {
  width: 6em;
  height: 5em;
  z-index: 1;
  background-color: #f0f5f5;
  box-shadow: 2px 2px 2px #c6cacf;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 10px;
}

.navBnts a {
  text-decoration: none;
  color: cornflowerblue;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
}

a:hover {
  color: rgb(5, 59, 159);
  border-radius: 4px;
}

.navBnts a:not(:last-child) {
  margin-bottom: 0.5em;
}

@media screen and (max-width: 1090px) {
  .navBnts {
    left: initial;
    top: initial;
    bottom: 0px;
    width: 100%;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
  }
  .navBnts a:not(:last-child) {
    margin: 0;
  }
}
